.ghe{
    width: 35px;
    height: 35px;
    background: rgba(211, 207, 207, 0.6);
    margin: 5px;
    padding: 2px;

    &.gheVip{
        background-color: yellowgreen;
    }
    &.dangDat{
        background-color: yellow;
    }
    &.daDat {
        cursor: not-allowed;
        background-color: red;
    }
}